.login{
    font-family: 'Roboto', sans-serif;
    background: url('../src/assets/snapedit_1739179452318_waifu2x_noise3_scale4x.png') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}