.card {
    border-radius: 8px; /* rounded-lg */
    font-size: 14px; /* text-sm */
    color: #374151; /* text-gray-700 */
}
.ant-card-body {
    background-color: #f2f3f6 !important; 
    padding: 1.2rem !important; 
    border-radius: 8px !important;
}
.list {
    list-style-type: disc; /* list-disc */
    padding-left: 20px; /* list-inside */
    margin-top: 8px;
}
